<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2> th:text="#{articulo.titulo}">Listado de Articulos</h2>
        <a th:href="@{/articulo/nuevo}">Nuevo Articulo </a>

            <div th:if="${articulos!=null and !articulos.empty}">
          <table border="1">
               <tr>
                    <th th:text="#{articulo.descripcion}">Descripccion</th>
                    <th th:text="#{articulo.precio}">Precio</th>
                    <th th:text="#{articulo.existencias}">Existencias</th>
                    <th th:text="#{articulo.activo}">Activa</th>
                    <th th:text="#{accion.eliminar}">Eliminar</th>
                    <th th:text="#{accion.actualizar}">Actualizar</th>

                </tr>
                </thead>
                <tr th:each="articulo : ${articulos}">
                    <td th:text="${articulo.descripcion}"/>
                    <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" style="text-align: right"></td>
                    <td th:text="${articulo.exiistencias}" style="text-align: center"></td>
                    <td><input type="checkbox" name="activo" th:ckecked="${articulo.activo}" disabled="true"></td>
                    <td><a th:href="@{/articulo/eliminar} + ${articulo.idArticulo}"  th th:text="#{accion.eliminar}">Eliminar</a></td>
                    <td><a th:href="@{/articulo/modificar} + ${articulo.idArticulo}" th th:text="#{accion.}"> Modificar</a></td> 
                </tr>
          </table>
      </div>
        <div th:if="${articulos == null or articulos.empty}" th th:text="#{articulo.no_mostrar}">
                 No tenemos lista de articulos que mostrar.
                      
       </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
