<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.datos}" >Datos de Articulo</h2>
        <a th:href="@{/articulo/listado}" th:text="#{articulo.regresar}" >Regresar </a>
        <br/>
        <form th:action="@{/articulo/guardar}"
              method="post"
              th:object="${articulo}">
            <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
            
            <label for="categoria" th:text="#{articulo.categoria}">Categoria:</label>
            <select th:field="*{idCategoria}">
                <option th:each="categoria: ${categorias}"
                        th:value="${categoria.idCategoria}"
                        th:text="${categoria.descripcion}">/
            </select><br/>
                        
            <label for="descripcion" th:text="#{articulo.}" >Descripcion:</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            
           <label for="detalle" th:text="#{articulo.}" >Detalle:</label>
           <textarea name="detalle" th:field="*{detalle}" rows="6" cols="50"/><br>
           
           <label for="precio" th:text="#{articulo.precio}" >Precio:</label>
           <input type="number" name="precio" th:field="*{precio}"/><br/>
           
           <label for="existencias" th:text="#{articulo.existencias}" >Existencias:</label>
           <input type="number" name="existencias" th:field="*{existencias}"/><br/>
           
           <label for="activo" th:text="#{articulo.activo}" >Activo:</label>
           <input type="checkbox" name="activo" th:field="*{activo}"/><br/>
           
           <button type="submit" name="guardar" th:text="${accion.guardar}"/>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
