<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Listado de Categorias</h2>
        <a th:href="@{/categorias/nuevo}">Nuevo Cliente </a>

            <div th:if="${categorias!=null and !categorias.empty}">
          <table border="1">
               <tr>
                    <th>Descripccion</th>
                     <th>Activa</th>

                </tr>
                </thead>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.descripcion}"/>
                    <td th:text="${cliente.apellidos}"/>
                    <td th:text="${cliente.correo}"/>
                    <td th:text="${cliente.telefono}"/>
                    <td th:text="${#nombres.formaDecimal(cliente.credito.limite,3,2)}"
                        style="text-align: right"></td>
                        <td><a th:href="@{/liente/eliminar} + ${cliente.idCliente}"> Eliminar</a></td>
                    <td><a th:href="@{/cliente/modificar} + ${cliente.idCliente}"> Modificar</a></td> 
                </tr>
          </table>
      </div>
        <div th:if="${clientes == null or clientes.clientes}">
                 No tenemos lista de clientes que mostrar.
                      
       </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
