<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

  <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2> th:text="#{index.titulo}">Nuestros Articulos</h2>
            <div th:if="${articulos!=null and !articulos.empty}">
          <table border="1">
               <tr>
                    <th  th:text="#{articulo.descripcion}">Descripcion</th>
                     <th th:text="#{articulo.precio}">Precio</th>
                     <th  th:text="#{articulo.comprar}">Comprar</th>

                </tr>
                <tr th:each="articulo : ${articulos}">
                    <td th:text="${articulo.descripcion}"/>
                    <td th:text="${articulo.precio}"/>
                    <td><a th:href="@{/carrito/agregar} + ${articulo.idArticulo}" th:text="#{accion.agregar}">Agregar</a></td>
                </tr>
          </table>
      </div>
        <div th:if="${articulos == null or articulos.empty}"th:text="#{articulo.no_mostrar}">
                 No tenemos lista de articulos que mostrar.
                      
       </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
