<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

  <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>

        <section class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-3" sec:authorize="hasRole(´ROLE_ADMIN´)">         
                        <a sec:authorize="hasRole(´ROLE_ADMIN´)" th:href="@{/cliente/ReporteClientes}"
                           class="btn btn-primary">    
                            <i class="fas fa-file"></i> Reporte</a>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
