<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2 th:text="#{cliente.datos}">Datos de Cliente</h2>
        <a th:href="@{/cliente/listado}" th:text="#{accion.regresar}">Regresar </a>
        <br/>
        <form th:action="@{/cliente/guardar}"
              method="post"
              th:pbject="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            
            <label for="nombre" th:text="#{cliente.nombre}">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
          
            <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos:</label>
           <input type="text" name="apellidos" th:field="*{apellidos}"/>
           <br/>
           
           <label for="correo" th:text="#{cliente.correo}">Correo:</label>
           <input type="email" name="correo" th:field="*{correo}"/>
           <br/>
           
           <label for="telefono"th:text="#{cliente.telefono}">Telefono:</label>
           <input type="tel" name="telefono" th:field="*{}"/>
           <br/>
           
           <label for="limite" th:text="#{cliente.limite}">Limite de Credito:</label>
           <input type="number" name="limite" th:field="*{credito.limite}"/>
           <br/><br/>
           <button type="submit" name="guardar" th:text="${accion.guardar}"/>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
